#result, #error, #toppings-listings {
  display: none;
}

.hoverable:hover {
  cursor:pointer;
}

.selected-size, .selected-choice {
  font-weight: bold;
}

.selected, .selected-topping {
  background-color: #C8E980;
}

.topping-image {
  height: 2em;
  width: 2em;
}
